USE [master]
GO
/****** Object:  Database [ejemplo]    Script Date: 08/04/2023 09:48:27 a. m. ******/
CREATE DATABASE [ejemplo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ejemplo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ISAACW7\MSSQL\DATA\ejemplo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ejemplo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ISAACW7\MSSQL\DATA\ejemplo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ejemplo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ejemplo]
GO
/****** Object:  Table [dbo].[datos]    Script Date: 08/04/2023 09:48:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos](
	[Codigo] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Numero_Provedor] [int] NULL,
	[Activo] [varchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
